Pillow~=8.3
PyQt5~=5.15
Shapely==1.6.4.post2
czifile==2019.7.2
descartes==1.1.0
matplotlib~=3.0
numpy~=1.16
opencv-python-headless~=3.4.15
pandas==1.0.5
pyvista==0.25.3
scikit-image~=0.18
scipy~=1.7
seaborn~=0.10
symfit~=0.5
sympy==1.2
